@model IEnumerable<NegoSoftShared.Models.Entities.Product>

@{
    ViewData["Title"] = "Nos Produits";
}

<div class="container py-5" product-page>
    <h1 class="text-center">Nos Produits</h1>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://localhost:7101/uploads/@product.ProPictureName" class="card-img-top img-responsive" alt="@product.ProName" />
                    <div class="card-body">
                        <h5 class="card-title">@product.ProName</h5>
                        <p class="card-text">
                            @if (!string.IsNullOrEmpty(product.ProDescription))
                            {
                                @product.ProDescription
                            }
                            else
                            {
                                <span>Description non disponible</span>
                            }
                        </p>
                        <p class="card-text">Type: @product.Type.TypLibelle - Stock: @product.ProStock</p>
                        <div class="price">
                            @if (product.ProBoxPrice.HasValue)
                            {
                                <div>Prix Unitaire: @product.ProPrice €</div>
                                <div>Prix par Carton: @product.ProBoxPrice.Value €</div>
                            }
                            else
                            {
                                <div class="price"> @product.ProPrice € </div>
                            }
                        </div>
                        <a href="@Url.Action("Details", "Product", new { id = @product.ProId })" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
