@using NegoSoftWeb.Models.Entities
@using NegoSoftWeb.Models.ViewModels
@model ProductSearchViewModel

<div class="container py-5" product-page>
    <h1 class="text-center">Résultats de la recherche</h1>

    <form method="get" asp-controller="Product" asp-action="Search">
        <!-- On prend la valeur de la recherche pour la renvoyer de nouveau avec les filtres -->
        <input type="hidden" name="searchString" value="@Context.Request.Query["searchString"]" />

        <select name="typeId" onchange="this.form.submit()" class="form-control">
            <option value="">Tous les types</option>
            @foreach (var type in Model.ProductTypes)
            {
                var selectedAttribute = Model.SelectedTypeId == type.TypId ? "selected" : "";
                @Html.Raw($"<option value='{type.TypId}' {selectedAttribute}>{type.TypLibelle}</option>")
            }
        </select>
        <select name="supplierId" onchange="this.form.submit()" class="form-control">
            <option value="">Tous les fournisseurs</option>
            @foreach (var supplier in Model.ProductSuppliers)
            {
                var selectedAttribute = Model.SelectedSupplierId == supplier.SupId ? "selected" : "";
                @Html.Raw($"<option value='{supplier.SupId}' {selectedAttribute}>{supplier.SupName}</option>")
            }
        </select>
        <select name="alcoholProductId" onchange="this.form.submit()" class="form-control">
            <option value="">Toutes les Années</option>
            @foreach (var year in Model.AlcoholProducts)
            {
                var selectedAttribute = Model.SelectedAlcoholProductId == year.ApId ? "selected" : "";
                @Html.Raw($"<option value='{year.ApId}' {selectedAttribute}>{year.ApYear}</option>")
            }
        </select>

        <!-- Champ de sélection pour le tri -->
        <select name="sortOrder" onchange="this.form.submit()" class="form-control">
            <option value="">Aucun Tri</option>
            @foreach (var sortOrder in Enum.GetValues(typeof(SortOrder)).Cast<SortOrder>())
            {
                var selectedAttribute = Model.SelectedSortOrder == sortOrder ? "selected" : "";
                var sortOrderValue = sortOrder.ToString();
                @Html.Raw($"<option value='{sortOrderValue}' {selectedAttribute}>{sortOrderValue.Replace("Asc", " (Ascendant)").Replace("Desc", " (Descendant)").Replace("Name", "Nom").Replace("Price", "Prix")}</option>")
            }
        </select>
    </form>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/uploads/@product.ProPictureName" class="card-img-top img-responsive" alt="@product.ProName" />
                    <div class="card-body">
                        <h5 class="card-title">@product.ProName</h5>
                        <p class="card-text">@product.ProDescription</p>
                        <p class="card-text">Type: @product.Type.TypLibelle - Stock: @product.ProStock</p>
                        <div class="price">@product.ProPrice €</div>
                        <a href="@Url.Action("Details", "Product", new { id = @product.ProId })" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
