@model NegoSoftShared.Models.Entities.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultAddress.AddBillingCity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
